:host {
  display: block;
}

main {
  opacity: 0;
}

main.fade-in {
  animation: fadePageIn 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadePageIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main > * {
  position: relative;
  z-index: 1;
}